@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-stone-100 text-stone-700;
  }

  .layout {
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 2rem;
    height: 100vh;
    height: 100svh;
  }
}
